* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --color-headers: ;
    --color-text:

}

@font-face {
    font-family: gliker-bold;
    src: url(../fonts/Gliker-Bold.otf);
}
@font-face {
    font-family: verdana-c;
    src: url(../fonts/verdanab.ttf);
}

body {
    background-image: url(../bg.jpg);
    color: black;
    font-family: gliker-bold;
    max-width: 100%;
}

button {
    position: absolute;
    background-color: #f9f7f7;
    border-radius: 6px;
    padding: 3px 45px;
    font-size: 35px;
    font-family: verdana-c;
    color: #b0acac;
    border-width: 1.5px;
    bottom: 42vh;
    left: 10vw;
    cursor: pointer;
}

.container{
    padding: 0 9vw;
}

.main-title{
    font-size: calc(var(--index)*5);
    position: absolute;
    bottom: 50vh;
}

.discord{
    position: absolute;
    bottom: 90vh;
    right: 15vh;
    width: 45px;
}

.twitter{
    position: absolute;
    bottom: 90vh;
    right: 25vh;
    width: 45px;
}

.logo{
    position: absolute;
    bottom: 87vh;
    left: 10vh;
    width: 100px;
}

.members_block{
    text-align: center;
    position: relative;
    top: 90vh;
}

/*.members{
    display: flex;
    max-height: 200px;
    overflow: auto;
    overflow-y: hidden;
    height: 100px;
    position: relative;
    top: 95vh;
    left: 20vh;
}
.members .card{
    margin-right: 2vh;
    line-height: 100px;
}



.text-card {
    font-family: verdana-c;
    left: 0;
    position:absolute;
    text-align:center;
    top: 28vh;
    width: 100%
}
*/

.members{
    position: relative;
    max-height: 250px;
    border: 1px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    top: 95vh;
    margin: 0 20vh 0 20vh;
}

.members .card{
    width: 200px;
    height: 250px;
    line-height: 250px;
}

.members .card{
    margin-right: 3vh;
    line-height: 30px;
}

.members img{
    border: 1.5px solid rgb(58, 58, 58);
}

.text-card {
    cursor: pointer;
    color: black;
    left: 0;
    text-align:center;
    margin-left: 40px;
    width: 100%
}